.footer{
    background-color:black;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.homeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


*{
    box-sizing: border-box;
}

#root{
    /* background-image: url(./Components/Images/undercover.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #3E065F;
    color: white;
    padding: 0 0 400px 0;
}
html{
    /* margin-top: 120px; */
    background-color: #3E065F;
    /* background-image: url(./Components/Images/undercover.jpg); */
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.contRequests{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#reasonTextArea{
    height: 150px;
}